<h1>Calculadora de Temperatura</h1>
<div id="divConverter">
  <form id="formConverter" action="/conversor/temperatura/convertir" method="get">
    <label id="labelT"for="calcular">Ingrese la Temperatura (e.g: 90F, 37C, -3.14f):</label>

    <input name="original" type="text" id="original" autofocus placeholder="434F" size="50">
      <br>
      <br>
      <br>

    <input id="buttonC" type="submit" name="button" value="Convertir">

  </form>
</div>
